{% include base_path %}

{% if page.author and site.data.authors[page.author] %}
  {% assign author = site.data.authors[page.author] %}{% else %}{% assign author = site.author %}
{% endif %}

<div itemscope itemtype="http://schema.org/Person">

  <div class="author__content">
    <h3 class="author__name">{{ author.name }}</h3>        
    
    {% if author.bio %}<p class="author__bio">{{ author.bio }}</p>{% endif %}
    
    <a href="https://icpmconference.org/2020/"><img src="images/ICPM_Logo-1024x314-e1558427587186.png"></a>
    
  </div>
  
    <a href="https://www.win.tue.nl/ieeetfpm/"><img src="images/IEEETF-150x150.jpeg" style="width: 150px"></a>
    An activity of the <b>IEEE Task Force on Process Mining</b>  
  
</div>

